scanner_chestny_znak_v2.py
scanner_chestny_znak_v2_2.py
scanner_chestny_znak_v2_3_rabochikod.py
build/
dist/
ChestnyZnakScanner.spec
venv/
.venv/
env/
__pycache__/
*.py[cod]
.idea/
.vscode/
*.spec
*.tmp
*.temp
*.log
Thumbs.db
Desktop.ini
*.xlsx
*.csv
.env
.env.*